{% extends 'landingpage/base.html' %}
{% load static %}
{% block content %}
<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
  <!-- START Blogs w/ 3 images & quote & text -->
  <section class="py-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 ms-auto me-auto">
          <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm">{{ artikel.kategori }}</h6>
          {% if artikel.gambar %}
            <img src="{{ artikel.gambar.url }}" alt="Gambar Artikel" style="width: 100%;" />
          {% endif %}
          <h3 class="title mb-4">{{ artikel.judul }}</h3>
          <div class="text-dark">
            {{ artikel.konten|safe }}
          </div>
          <p class="text-dark" style="font-style: italic;">{{ artikel.created_at }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="py-7">
    <div class="container">
      <div class="row">
        <div class="col-9 text-center mx-auto">
          <h3 class="py-5">Lihat artikel lainnya</h3>
        </div>
        {% for item in artikel_lainya %}
        <div class="col-lg-4 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-header p-0 mx-3 mt-n4 position-relative z-index-1">
              <a href="{% url 'detail_artikel' item.id %}" class="d-block blur-shadow-image">
                <img src="{{ item.gambar.url }}" class="img-fluid border-radius-md" alt="{{ item.judul }}" loading="lazy">
              </a>
            </div>
            <div class="card-body">
              <span class="text-gradient text-info text-uppercase text-xs font-weight-bold">{{ item.kategori }}</span>
              <a href="{% url 'detail_artikel' item.id %}" class="text-darker card-title mt-3 h5 d-block">{{ item.judul }}</a>
              <p class="card-description mb-4">{{ item.konten|striptags|truncatechars:200 }}</p>
              <div class="author align-items-center">
                <img src="{% static 'landingpage/assets/img/ivana-squares.jpg' %}" alt="Author" class="avatar shadow" loading="lazy">
                <div class="name ps-2">
                  <span>{{ item.created_by }}</span>
                  <div class="stats">
                    <small>{{ item.created_at }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock %}